/* Basic body styles */
body {
  margin: 0;
  /*font-family: Arial, Helvetica, sans-serif;*/
  font-family: Garamond, serif;
}
a {
  color: black;
}
.visible {
  opacity: 1;
  transition: opacity 1s ease-out;
}
.hidden {
  opacity: 0;
}
#page-container {
  position: relative;
  min-height: 100dvh;
}
#background {
  position: fixed;
  object-fit: cover;
  object-position: 10% 50%;
  height: 100svh;
  width: 100svw;
  z-index: -1;
}
#content-wrap {
  padding-bottom: 50px;
}
#intro-header {
  font-weight: bold;
  text-decoration: underline;
}
#intro {
  display: block;
  vertical-align: top;
  width: 50vw;
  position: relative;
  padding: 20px 20px;
  margin-top: 2vh;
  margin-left: auto;
  margin-right: auto;
  margin-bottom: 5vh;
  background-color: #f0f0f0e8;
  border-radius: 5px;
  font-size: 16px;
  -webkit-animation: fadein 1s;
     -moz-animation: fadein 1s;
      -ms-animation: fadein 1s;
       -o-animation: fadein 1s;
          animation: fadein 1s;
}
#intro p {
  margin-top: 0px;
  margin-bottom: 1em;
}
.no-space-before-or-after {
  margin-top: 0em;
  margin-bottom: 0em;
}
#intro p.no-space-after {
  margin-bottom: 0em;
}
#image-of-alex {
  height: 30vh;
  margin: 0 auto;
  width: 40vh;
  -webkit-animation: fadein 1s;
     -moz-animation: fadein 1s;
      -ms-animation: fadein 1s;
       -o-animation: fadein 1s;
          animation: fadein 1s;
}
.image-holder {
  margin-top: 5vh;
  margin-left: auto; 
  margin-right: auto; 
  height: 30vh;
  width: 40vh;
  display: block;
  background-color: #fffd;
  padding: 10px 10px 10px 10px;
}
@keyframes fadein {
  from { opacity: 0;}
  to   { opacity: 1;}
}
@-moz-keyframes fadein {
  from { opacity: 0;}
  to   { opacity: 1;}
}
@-webkit-keyframes fadein {
  from { opacity: 0;}
  to   { opacity: 1;}
}
@-ms-keyframes fadein {
  from { opacity: 0;}
  to   { opacity: 1;}
}
@-o-keyframes fadein {
  from { opacity: 0;}
  to   { opacity: 1;}
}

#pubs-header {
  margin-top: 10vh;
  margin-left: 20vw;
  font-size: 30px;
  text-decoration: underline;
  -webkit-animation: fadein 1s;
     -moz-animation: fadein 1s;
      -ms-animation: fadein 1s;
       -o-animation: fadein 1s;
          animation: fadein 1s;
}
#pubs {
  margin-left: 20vw;
  margin-right: 5vw;
  padding-left: 2em;
  padding-right: 2em;
  padding-bottom: 2em;
  background-color: #ffffffd6;
  -webkit-animation: fadein 1s;
     -moz-animation: fadein 1s;
      -ms-animation: fadein 1s;
       -o-animation: fadein 1s;
          animation: fadein 1s;
}
#pubs a {
  color: #444;
  text-decoration: none;
  cursor: pointer; 
}
#pubs a:hover {
  color: black;
}
#pubs p {
  color: #444;
}
#pubs img {
  width: 0.7em;
  vertical-align: top;
}
#contact-me-wrapper {
  position: absolute;
  display: flex;
  flex-direction: column;
  height: calc(100% - 46px);
  left: 0;
  right: 0;
  bottom: auto;
  width: 60vw;
  margin: 0 auto;
  background-color: #fffa;
}
#contact-me {
  margin: 0 auto;
  font-size: 16px;
  margin-top: 30vh;
  width: 50vw;
  -webkit-animation: fadein 1s;
     -moz-animation: fadein 1s;
      -ms-animation: fadein 1s;
       -o-animation: fadein 1s;
          animation: fadein 1s;
}
#mountain-background {
  position: fixed;
  bottom: 0;
  left: 0;
  width: 100vw;
  z-index: -1;
}

@media only screen and (max-width: 812px) {
  #intro {
    display: block;
    width: 80vw;
    margin: 1vh auto;
  }
  #image-of-alex {
    width: 40vh;
    height: 30vh;
    margin: 0 auto;
  }
  .image-holder {
    display: block;
    width: 40vh;
    height: 30vh;
  }
  #pubs-header {
    margin-left: 5vw;
  }
  #pubs {
    margin-left: 5vw;
  }
  #contact-me {
    margin-left: 5vw;
  }
}

/* Top navigation bar */

.topnav {
  overflow: hidden;
  height: 46px;
  background-color: #ddef;
  display: block;
}

#logo {
  height: 36px;
  float: left;
  padding: 6px 16px 4px 16px;
}
.nav-button {
  float: left;
  color: #222;
  text-align: center;
  padding: 14px 8px;
  text-decoration: none;
  font-size: 18px;
}

.nav-buttons {
  float: right;
  display: inline-block;
  vertical-align: top;
  height: 46px;
  overflow: hidden;
}

.nav-icon {
  height: 1em;
  margin-right: 5px;
  vertical-align: middle;
  padding-bottom: 3px;
}
.nav-button-white .nav-icon {
  -webkit-filter: invert(100%);
          filter: invert(100%);
}

/* photography page-specific styling*/
.topnav .nav-button:hover {
  background-color: #999f;
}

.nav-button-white {
  color: #fff;
}

.dark-theme {
  background-color: #111;
}

.topnav-dark-theme {
  background-color: #555;
  z-index: 10;
}

.photo {
  display: block;
  max-width: 90%;
  max-height: 80vh;
  width: auto;
  height: auto;
  margin-top: 10vh;
  margin-left: auto;
  margin-right: auto;
  border: 1vw solid white;
}

.inner-photo-container { 
  margin-left: 5vw;
}
.photo-menu-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: calc(100svh - 46px);
}
.photo-nav-button {
  display: inline-block;
  width: 22vw;
  max-height: 80vh;
  background: #555;
  text-align: center;
  border-right: 2px solid #555;
  border-left: 2px solid #555;
  border-top: 2px solid #555;
  border-bottom: 2px solid #555;
  margin-right: 0.5vw;
  margin-left: 0.5vw;
  font-style: italic;
  cursor: pointer;
}
.photo-nav-button:hover {
  background: #888;
  border-right: 2px solid #888;
  border-left: 2px solid #888;
  border-top: 2px solid #888;
  border-bottom: 2px solid #888;
}
.nav-photo {
  width: 22vw;
  height: auto;
  max-height: calc(80vh - 2em);
  margin-left: auto;
  margin-right: auto;
}
@media only screen and (max-width: 812px) {
  .photo-nav-button {
    width: 30vw;
  }
  .nav-photo {
    width: 30vw; 
  }
}
.nav-photo-label {
  display: block;
  margin-left: auto;
  margin-right: auto;
  color: #fff;
}

.back-arrow {
  position: fixed;
  top: 50%;
  left: -8px;
  width: 6vh;
  height: 6vh;
  cursor: pointer;
}
#down-arrow {
  position: fixed;
  bottom: 2%;
  left: 2%;
  width: 5vw;
}
.down-arrow-hidden {
  opacity: 0;
  transition: opacity 0.7s ease-in;
}
.fade {
  transition: opacity 0.7s ease-in;
}

.fadeOut {opacity: 0.1;}
.fadeIn {opacity: 1;}

.copyright {
  position: fixed;
  right: 1%;
  bottom: 0% ;
  color: #fff;
  margin-bottom: 1px;
}

@media only screen and (max-width: 812px) {
  .topnav a {
    padding: 14px 8px;
  }
}

/* Footer */
.footer {
  position: absolute;
  bottom: 0;
  width: 100%;
}

.footer a {
  margin: 0;
  cursor: default;
}

.footer img:hover {
  cursor: pointer;
}

.footer-center {
  width: 300px;
  margin: 0 auto;
}

.logoContainer {
  width: 100px;
  float: left;
}

.logoContainer img {
  display: block;
}

#emailLogo {
  height: 30px;
  margin: 10px auto;
}

#emailLogo:hover {
  height: 36px;
  margin: 7px auto;
}

#scholarLogo {
  height: 40px;
  margin: 5px auto;
}

#scholarLogo:hover {
  height: 46px;
  margin: 2px auto;
}

#githubLogo {
  height: 36px;
  margin: 7px auto;
}

#githubLogo:hover {
  height: 42px;
  margin: 4px auto;
}
